.table-container {
  border-collapse: collapse;

  th {
    background-color: $header-bg-color;
  }

  tr:nth-child(even) {
    background-color: $secondary-tbl-color;
  }

}

.btn-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  .btn-temp {
    margin-top: 1rem;
    padding: .5rem;
    background-color: $main-bg-color;
    border: none;
  }

}

